@import "tailwindcss";

@theme {
  /* ☀️ Light Mode */

  --color-background: oklch(70.4% 0.191 22.216); /* Page background */
  --color-surface: #ffffff; /* Cards, modals, containers */
  --color-secondary: #f1ecf8; /* Secondary sections */
  --color-text: #1c1b20; /* Main text */
  --color-border: #e4ddea; /* Dividers, outlines */
  --color-accent: #8b5cf6; /* Buttons, links, highlights */
}

.dark {
  /* 🌙 Dark Mode */

  --color-background: #121212; /* Charcoal base */
  --color-surface: #1c1822; /* Elevated surfaces */
  --color-secondary: #282231; /* Secondary areas */
  --color-text: #f8f5fc; /* Main text */
  --color-border: #3a3245; /* Dividers, outlines */
  --color-accent: #c4a7ff; /* Lilac highlight */
}

.heading {
  @apply text-xl text-text font-bold;
}
.navlink {
  @apply text-text font-semibold border py-1 px-2 
  rounded shadow-lg cursor-pointer
  transition-all duration-300
  active:scale-95 
  hover:translate-y-[-3px];
}
